<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/styles/main.css" >
    <title>Richard Rosenberg</title>
</head>
<body>
    <!-- About -->
        <!-- Name, Title, Links (LinkedIn and GitHub), Pic -->
    <div class="about">
        <h2>Richard Rosenberg</h2>
        <h3>Full-Stack Software Engineer</h3>
    </div>
    <div class="links">
        <a href="linkedin.com/in/richardrosenberg88">LinkedIn
            <i>Placeholder</i>
        </a>
        <a href="git.generalassemb.ly/rosenbr73">GitHub
            <i>Placeholder</i>
        </a>
    </div>
    <!-- Noods -->
    <div class="project__noods">
        <h4>Noods</h4>
        <p>Noods Description - Plans for Noods</p>
        <a href="">Link for Noods Repo</a>
        <a href="">Link to app</a>
    </div>
    <!-- Wayfarer -->
    <div class="project__wayfarer">
        <h4>Wayfarer</h4>
        <p>Wayfarer Description - Plans for Wayfarer</p>
        <a href="">Link for Wayfarer Repo</a>
        <a href="">Link to app</a>
    </div>
    <!-- Pachigatchi? -->
    <div class="project__pachigatchi">
        <h4>Pachi-gatchi</h4>
        <p>Pachi-Gatchi Description - Plans for Pachi</p>
        <a href="">Link to Repo</a>
        <a href="">Link to app</a>
    </div>
    <!-- Chefly? -->
    <div class="project__chefly">
        <h4>Chefly</h4>
        <p>Chefly Description - Plans for Chefly</p>
        <a href="">Link for Chefly Repo</a>
    </div>
</body>
</html>