/* ===== | All | ===== */

* {
    box-sizing: border-box;
}

body {
    background-color: #0A1931;
    color: #EFEFEF;
}

img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    max-width: 25%;
}

p {
    font-family: 'PT Sans', sans-serif;
}

h2 {
    font-size: 3em;
    font-family: 'Shadows Into Light', cursive;
}

.fa-linkedin,
.fa-github-square,
.project__link {
    color: #EFEFEF;
}

/* ===== | Info/About | ===== */

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    padding: 0 50px;
}

.info__intro {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.info__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding: 10%;
    max-width: 150%;
    position: relative;
}

.info__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.info__header {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3em;
}

#fa-github-square__info {
    margin-left: .25em;
}

/* ===== | Projects | ===== */

.projects {
    display: flex;
    flex-direction: row;
}

#projects__header {
    font-size: 3em;
    text-decoration: underline;
    font-family: 'Shadows Into Light', cursive;
}

.project__info {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    margin: 0 2em;
}

.project__noods {
    display: flex;
    flex-direction: row;
    background-color: #185ADB;
    max-width: 100%;
}

.project__pachygatchi {
    display: flex;
    flex-direction: row;
    background-color: #0A1931;
    max-width: 100%;
}

.project__wayfarer {
    display: flex;
    flex-direction: row;
    background-color: #185ADB;
    max-width: 100%;
}

.project__info {
    display: flex;
    flex-direction: column;
}

.project__head {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: right;
}

#projects__header {
    display: flex;
    justify-content: center;
}

#pachy__head {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    float: left;
}

.project__title {
    margin: 1em;
    text-decoration: underline;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
}

/* ===== | Contact | ===== */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EFEFEF;
}

.contact__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 3px;
}

.contact__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 3px;
}

.contact__button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__header {
    font-size: 2em;
    font-family: 'Shadows Into Light', cursive;
}

/* ===== | Media Queries  | ===== */

@media only screen and (max-width: 480px) {
    .info,
    .info__intro,
    #info__name,
    .info__about,
    .info__header,
    .project__noods,
    .project__wayfarer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .project__pachygatchi {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 480px) {
    img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .intro__header {
        text-align: center;
        font-size: x-large;
    }
}