/* Color Palettes
    Palette One - https://colorhunt.co/palettes/space top middle
    #0A1931
    #185ADB
    #FFC947
    #EFEFEF

    Palette Two - 
    #4F0E0E
    #BB8760
    #FFDADA
    #FFF1F1

    Palette Three
    #0A1931
    #185ADB
    #FFC947
    #FEDDBE
*/

body {
    background-color: #EFEFEF;
}

/* === | Info/About | === */
.info {
    /* display: flex; */
    /* flex-direction: row; */
    border-style: solid;
}

/* === | Projects | === */
.projects {
    /* display: flex; */
    /* flex-direction: column; */
    border-style: solid;
}

/* === | Contact | === */
.contact {
    border-style: solid;
}